<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<script type="text/usecase">
		1. Add a new bug						- done
		2. List the bugs						- done
		3. Toggle the 'closed' status of a bug
		4. Remove closed bugs
		5. Display statistics
		6. Search the bugs
		7. Sort the bugs
		8. Improve the bug display
		9. Persist the bugs in the localStorage
		10. Display createdAt for each bug
		11. Persist the bugs in the server
		12. Every bug must have a unique url
	</script>
	<style>
		section{
			margin-bottom: 10px;
		}
		.stats, .bugname{
			font-size: 20pt;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		.bugname{
			cursor: pointer;
		}
		ol{
			width: 500px;
			list-style: none;
		}
		li{
			margin-bottom: 5px;
			border : 1px solid gray;
			background-color: #e7e7e7;
			padding: 10px;
			border-radius: 5px;
		}
		.datetime{
			font-style: italic;
		}
	</style>
	<script src="angular.js"></script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);

		bugTrackerApp.controller("bugsController", function($scope){
			
			$scope.bugs = [];
			
			$scope.addNew = function(bugName){
				var newBug = {
					name : bugName,
					isClosed : false
				};
				$scope.bugs.push(newBug);
			};

			$scope.toggle = function(bug){
				bug.isClosed = !bug.isClosed;
			};

		});
	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">2</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" name="" id="">
			<label for="">Closed ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text" name="" id="">
			<label for="">Descending ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="edit">
			<label for="">New Bug :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Save" ng-click="addNew(newBugName)">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in bugs">
					<span class="bugname" ng-click="toggle(bug)">{{bug}}</span>
					<div class="datetime">[Created At]</div>
				</li>
			</ol>
			<input type="button" value="Remove Closed">
		</section>
	</div>
</body>
</html>